include ../cards/cards
include ../button/button

mixin stories()
    +b.stories
        +e.button
            +button('a', 'Ik wil graag een afspraak maken', '#arrow-right')(href="contact.html").--full-width

        +e('h3').title Stories

        +e.cards
            +e.card
                +card(
                    'img/stories.jpg',
                    'Transparantie is “key”',
                    'Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt…'
                )

            +e.card
                +card(
                    'img/stories.jpg',
                    'Transparantie is “key”',
                    'Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt…'
                )

        +e.link-more
            +button('a', 'Lees alle stories', '#arrow-right')(href="blogs.html").--link-style