html {
    box-sizing: border-box;
    font-size: 62.5%;

    &.no-scroll {
        height: 100%;
    }
}

.no-scroll {

    body {
        height: 100%;
    }

    .main-container {
        height: 100%;
        overflow: hidden;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    font-family: $font-family;
    $font-weight: 400;
    font-size: $font-size;
    line-height: $line-height;
    color: $text-color;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;

    &.is-mobile-menu-open {
        overflow: hidden;
    }
}

a {
    background-color: transparent;
    color: $link-color;
    transition-duration: $transition-duration;
}

p {
    margin-top: 0;
    color: #000;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 33px;
    margin-bottom: 45px;
}

img {
    box-sizing: content-box;
    display: block;
    max-width: 100%;
    height: auto;
}

button,
input,
optgroup,
select,
textarea {
    appearance: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    background-color: #fff;
}

select::-ms-expand {
    display: none;
}

textarea {
    overflow: auto;
    resize: vertical;
}

input {

    &:focus {
        outline: none;
    }
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="search"] {
    appearance: none;
}

input[type="submit"],
button {
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: "color 9999s ease-out, background-color 9999s ease-out";
    transition-delay: 9999s;
}


option {
    background-color: inherit;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

svg {
    fill: currentColor;

    &:not(:root) {
        overflow: hidden;
    }
}

.visuallyhidden {
    display: none;
}

h1 {
    font-size: 2.8rem;
    line-height: 34px;
    font-weight: 700;
    color: #000;
    margin-top: 0;
    margin-bottom: 20px;

    @include desktop {
        font-size: 6rem;
        line-height: 80px;
        margin-bottom: 40px;
    }
}

h2 {
    font-size: 2.4rem;
    line-height: 33px;
    margin: 0;
    font-weight: 900;
}

blockquote {
    color: $color-secondary;
    font-size: 2.6rem;
    line-height: 45px;
    font-weight: 700;
    padding: 40px 0 30px 60px;
    margin: 0 0 40px;

    @include desktop {
        font-size: 3rem;
        line-height: 55px;
        padding-left: 120px;
    }

    p {
        color: $color-secondary;
        font-size: 2.6rem;
        line-height: 45px;
        font-weight: 700;

        @include desktop {
            font-size: 3rem;
            line-height: 55px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.main {

    &::before {

        @include desktop {
            content: '';
            position: absolute;
            background: rgba(0, 0, 0, 0.5);
            top: 0;
            left: 0;
            z-index: 9;
            width: 100%;
            height: 100%;
            display: block;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.4s, visibility 0s 0.4s;
        }
    }

    .menu-open & {
        position: relative;

        &::before {

            @include desktop {
                opacity: 1;
                visibility: visible;
                transition: opacity 0.4s, visibility 0s 0s;
            }
        }
    }

    &--contact {

        @include desktop {
            height: 100%;
            overflow: hidden;
        }

        .no-scroll & {
            height: auto;
        }
    }

    &--how-it-works {
        overflow: hidden;

        @include desktop {
            height: 100%;
            transform: translate(0, 0);
        }
    }

    &__stories-title {
        display: none;

        @include desktop {
            display: block;
            padding: 0 56px;
            margin-top: 80px;
        }
    }

    &__logo {
        width: 147px;
        position: absolute;
        z-index: 5;
        top: -59px;
        left: 50%;
        transform: translateX(-50%);
        transition: opacity 0.2s;

        @include desktop {
            position: relative;
            width: 187px;
            transform: none;
            left: auto;
            top: -8px;
            margin-left: 56px;
            margin-top: 38px;
        }

        &.hide {
            @include desktop {
                opacity: 0;
                touch-action: none;
                pointer-events: none;
            }
        }
    }

    &__mouse {
        display: none;

        @include desktop {
            padding-left: 82px;
            display: block;
            position: fixed;
            bottom: 10px;
            z-index: 7;
            color: #fff;
            height: 38px;
            left: 50%;
            transform: translateX(-50%);
            transition: color 0.3s, opacity 0.3s;
            pointer-events: none;
            touch-action: none;
            text-align: center;
        }

        @include desktop-large {
            height: 48px;
            bottom: 20px;
        }
    }

    &__dots {
        display: none;

        @include desktop {
            display: block;
            position: fixed;
            z-index: 7;
            top: 50%;
            right: 50px;
            transform: translateY(-50%);
        }
    }
}

body,
.main-container,
.main,
.how-it-works {
    height: 100%;
}