@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-regular.woff2') format('woff2'),
        url('../fonts/lato-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-medium.woff2') format('woff2'),
        url('../fonts/lato-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-heavy.woff2') format('woff2'),
        url('../fonts/lato-heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2.0';
    src: url('../fonts/exo20-bold.woff2') format('woff2'),
        url('../fonts/exo20-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2.0';
    src: url('../fonts/exo20-black.woff2') format('woff2'),
        url('../fonts/exo20-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2.0 Semi';
    src: url('../fonts/exo20-semibold.woff2') format('woff2'),
        url('../fonts/exo20-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

